<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="agv">
<!--color robot ########################-->
  <link name="base_link">
   <visual>
    <origin rpy="1.5719 0 3.14" xyz="0.25 -0.34 -0.25" />
    
      <geometry>
      <mesh filename="file:///home/vothanhson/catkin_ws/src/agv/mesh/agv.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    <origin/>
  </visual>
  </link>

  <link name="base_laser">
  </link>
  
  <joint name="base_link_to_laser" type ="fixed">
    <parent link="base_link"/>
    <child link="base_laser"/>
    <origin xyz="0.17 0.0 0.0" rpy="0.0 0.0 3.141592"/>
    <axis xyz ="0 0 0"/>
  </joint>
  
</robot>

